@model MVC.ViewModels.BasketViewModels.IndexViewModel

@{
    ViewData["Title"] = "Basket";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    @if (Model.BasketItems.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BasketItems)
                {
                    <tr>
                        <td><img src="http://localhost/@item.PictureUrl" alt="@item.Name" style="max-width: 100px;" /></td>
                        <td>@item.Name</td>
                        <td class="esh-catalog-price">@item.Price.ToString("N2")</td>
                        <td>
                            <form>
                                <input type="hidden" name="itemId" value="@item.Id" />
                                <button asp-controller="Basket" asp-action="DeleteItemBasket" asp-route-id="@item.Id" type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="esh-catalog-pricebasket">Total: @Model.BasketItems.Sum(item => item.Price).ToString("N2")</div>

        <button class="btn btn-primary" onclick="location.href='@Url.Action("Checkout", "Order")'">Checkout</button>
    }
    else
    {
        <div>Your basket is empty.</div>
    }
</div>